body{
    margin: 50px;
}

code {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #660000;
    font-style: normal
 }
pre {  
    color: #660000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

footer{
    color: red;
    padding-top: 50px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #660000;
    font-size: large;
}
